body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 254px;
}

.footer-column {
  flex: 1 0 300px;
  margin-bottom: 20px;
}

.footer-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: #ffca28;
}

.footer-social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-social-links a:hover {
  color: #ffca28;
}

.copyright {
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
